name: ci

on:
  push:
    branches:
      - master
  pull_request:
    paths-ignore:
      - "*.md"
      - "docs/**"
      - "media/**"
jobs:
  ci:
    name: Install & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      - run: yarn
      - run: yarn test
